.paginaPrincipal{
    display: grid;
    grid-template-areas: "cabecera cabecera"
    "navegacion contenido"
    "piePagina piePagina";
    grid-template-columns: 2fr 11fr;
    grid-template-rows: 130px ;
    grid-gap: 30px;
}
.paginaPrincipal header{
    grid-area: cabecera;
}
.paginaPrincipal nav{
    grid-area: navegacion;
}
.paginaPrincipal article{
    grid-area: contenido;
}
.paginaPrincipal footer{
    grid-area: piePagina;
}
.paginaPrincipal nav p{
    font-family: 'Lora', serif;
}
.paginaPrincipal header p{
    font-family: 'Lora', serif;
}
.paginaPrincipal article p{
    font-family: 'Lora', serif;
}
.paginaPrincipal article p:hover{
    color: #00573d;
    background-color: #beedde;
    font-size: 15px;
    cursor: pointer;
}
.paginaPrincipal nav ul li a{
    color: black;
    font-size: 2px;
    font-weight: bolder;
    text-decoration: none;
    padding: 15px;
}
.paginaPrincipal nav ul li a:hover{
    color: white;
    background-color: #9488cf;
    border-bottom: 3px solid #0004ff;
}