* {
    margin: 0px;
    padding: 0px;
}

.paginaPrincipal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.paginaPrincipal header,
.paginaPrincipal footer {

    width: 100%;
    background-color: #696cf0;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorWhite {
    color: #ffffff;
}

.paginaPrincipal .contenido {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
}

.contenido nav {
    width: 200px;
    background-color: #696cf0;
    height: calc(100vh - 300px);
}

.contenido article {
    width: calc(100% - 200px);
    height: calc(100vh - 300px);
}

.decoracion {
    color: #000000;
    font-size: 20px;
    border-bottom: 3px solid #0000ff;
    width: auto;
    height: 25px;
    background: #bddada;
}
.foto{
    justify-content: center;
    align-items: center;
}
